<h2> Edit: <%= @game_company.title =%> </h2>
<form action="/game_companies/<%= @game_company.id %>" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   <input type="hidden" name="_method" value="PATCH" />
   <input name="game_company[profitable]" type="hidden" value="false" />

  <div class="mb-3">
    <label for="company name" class="form-label">New Company Name</label>
    <input type="text" name="game_company[title]" class="form-control" id="company name" required>


    <label for="number of employees" class="form-label">New Number of Employees</label>
    <input type="number" name="game_company[employees]" class="form-control" id="number of employees" required>


    <input type="checkbox" name="game_company[profitable]" class="form-check-input" id="boolean checkbox">
    <label for="checkbox" class="form-check-label">Profitable?</label>
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>
