<p><a href="/game_companies/">List of Game Companies</a></p>
<p><a href="/video_games/">List of Video Games</a></p>
<br>

<h1>All Game Companies</h1>

<% @game_companies.sort_by(&:created_at).reverse!.each do |company| %>
  <h2><%= company.title %> <%= company.created_at %> </h2>
  <p>Profitable?: <%= company.profitable %></p>
  <p>Number of Employees: <%= company.employees %></p>
<% end %>
