<h1>Edit <%= @plant.name %></h1>

<%= render partial: 'form', locals: {
                                      path: "/plants/#{@plant.id}",
                                      method: "patch",
                                      name: @plant.name,
                                      in_season: @plant.in_season,
                                      age: @plant.age,
                                      garden_id: @plant.garden_id} %>