<h1>Register Plant</h1>

<% if @garden %>
  <%= render partial: 'form', locals: {
                                        path: "/gardens/#{@garden.id}/plants",
                                        method: "post",
                                        name: "",
                                        in_season: false,
                                        age: "",
                                        garden_id: @garden.id} %>
<% else %>
  <%= render partial: 'form', locals: {
                                        path: "/plants",
                                        method: "post",
                                        name: "",
                                        in_season: false,
                                        age: "",
                                        garden_id: ""} %>
<% end %>