<h1>Register Plant</h1>

<form action="/gardens/<%= params[:id] %>/plants" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Name:</p>
  <input type="text" name="plant[name]">
  <br><br>
  <p>In season?</p>
  <input type="text" name="plant[in_season]">
  <br><br>
  <p>Age</p>
  <input type="number" name="plant[age]">
  <br><br>
  <p>Garden ID:</p>
  <input type="number" name="plant[garden_id]">
  <br><br>
  <input type="submit">
</form>