<h1>Edit <%= @garden.name %></h1>

<%= render partial: 'form', locals: {
                                        path: "/gardens/#{@garden.id}",
                                        method: "patch"} %>