<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Relational Rails</a>
    <ul class="navbar-nav mr-auto">
      <li><a href="/gardens/">Gardens</a></li>
      <li><a href="/plants/">Plants</a></li>
      <li><a href="/game_companies/">Game Companies</a></li>
      <li><a href="/video_games/">Video Games</a></li>
    </ul>
  </div>
</nav>